<nav class="cluster" title="TBLM site menu">
  <a class="box invert" href={{ "/" | relURL }}>Home</a>
  <a class="box invert" href={{ "/issue#content" | relURL }}>Archive</a>
  <a class="box invert" href={{ "/category/fiction#content" | relURL }}>Fiction</a>
  <a class="box invert" href={{ "/category/poetry#content" | relURL }}>Poetry</a>
  <a class="box invert" href={{ "/category/interviews#content" | relURL }}>Interviews</a>
  <a class="box invert" href={{ "/category/reviews#content" | relURL }}>Reviews</a>
  <a class="box invert" href={{ "/author#content" | relURL }}>Authors</a>
  <a class="box invert" href={{ "/about#content" | relURL }}>About</a>
</nav>
