<nav class="cluster homepage:read-more" title="TBLM site menu">
  <a href={{ "/about#content" | relURL }}>About</a>
  <a href={{ "/" | relURL }}>Latest</a>
  <a href={{ "/category/fiction#content" | relURL }}>Fiction</a>
  <a href={{ "/category/poetry#content" | relURL }}>Poetry</a>
  <a href={{ "/category/interviews#content" | relURL }}>Interviews</a>
  <a href={{ "/category/reviews#content" | relURL }}>Reviews</a>
  <a href={{ "/issue#content" | relURL }}>Search</a>
  <a href={{ "/submit#content" | relURL }}>Submit</a>
</nav>
