<div class="stack">
  <div class="stack">
    <div class="homepage:title">{{ .Title }}</div>
    <div class="cluster">
      <div class="homepage:author">{{ .Params.author }}</div>
      <div class="homepage:meta">
        <span>{{ .Date.Format "January 2, 2006"}}</span>
        <span>/ Issue {{ .Params.issue }}</span>
        <span>/ {{ .Params.category }}</span>
        <span>(~{{ math.Max 1 (math.Round (div (countwords .Content) 200.0)) }} min. read)</span>
      </div>
    </div>
  </div>
  <div>{{ .Page.Summary }}</div>
  <div class="with-sidebar-narrow">
    {{- partial "read_more.html" . }}
    {{- partial "top.html" . }}
  </div>
  {{- partial "horizontal_rule.html" . }}
</div>
