<div class="stack">
  <article>
    <header class="box invert stack">
      <div class="stack">
        <h1>{{ .Title }}</h1>
        <div class="cluster">
          {{ with .Params.author}}
          <strong>{{ . }}</strong>
          {{ end }}
          <div class="cluster">
            <small>
              <i><time>{{ .Date | dateFormat "01 Jan 2006" }}</time></i>
              <i>/ Issue {{ .Params.issue }}</i>
              <i>/ {{ .Params.category }}</i>
            </small>
          </div>
        </div>
      </div>
    </header>
    <p>{{ .Summary }} </p>
    <p class="cluster">
      <strong class="homepage:read-more">[ <a href="{{ .RelPermalink }}#content">+ read +</a> ]</strong>
      {{- partial "top.html" . }}
    </p>
  </article>
</div>
