{{ define "main" }}
{{ .Content }}
<div class="cluster">
  <div>Latest Issue:</div>
  <div>{{- partial "top.html" . }}</div>
</div>
<div>
  <ul>
    {{ range where .Site.Pages "Params.issue" "E5" }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Page.Title }}</a>
      <div>{{ .Page.Summary }}</div>
    </li>
    {{ end }}
  </ul>
</div>
<div class="cluster">
  <div>All categories:</div>
  <div>{{- partial "top.html" . }}</div>
</div>
<ul>
  {{ range .Site.Taxonomies.category }}
  <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }}</li>
  {{ end }}
</ul>
{{ end }}
