{{ define "main" }}
<div class="stack">
  <div class="homepage:content">
    {{ .Content }}
    <nav class="cluster homepage:read-more">
      <a href={{ "/about#content" | relURL }}>more about us</a>
    </nav>
  </div>
  {{ $issueID := 55 }}
  <!-- LATEST ISSUE -->
  <div class="box invert cluster">
    <div class="homepage:section">Latest Issue ({{ $issueID }})</div>
    <div>{{- partial "top.html" . }}</div>
  </div>
  {{ range where .Site.Pages "Params.issue" $issueID }}
  {{- partial "post_summary.html" . }}
  {{ end }}
</div>
{{ end }}
