{{ define "main" }}
<h2>{{ .Title }}</h2>
{{ .Content }}
<section class="stack">
  {{ range .Pages }}
  <section>
    <div class="cluster">
      <h3><a href="{{ .RelPermalink }}#content">{{ .Title }}</a></h3>
      <div>{{- partial "top.html" . }}</div>
    </div>
    {{ $pageTitle := .Title }}
    <ul>
      {{ range where .Site.Pages "Params.issue" $pageTitle }}
      <li><a href="{{ .RelPermalink }}#content">{{ .Page.Title }}</a></li>
      {{ end }}
    </ul>
    <p>{{ .Summary }}</p>
  </section>
  {{ end }}
</section>
{{ end }}
