<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    <div id="the-very-top" class="stack center box">
      <div>{{- partial "header.html" . -}}</div>
      <div id="content">{{- block "main" . }}{{- end }}</div>
      <div>{{- partial "footer.html" . -}}</div>
    </div>
    <script>
      if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
              if (!user) {
                  window.netlifyIdentity.on("login", () => {
                      document.location.href = "/admin/";
                  });
              }
          });
      }
    </script>
  </body>
</html>
