{{ define "main" }}
{{- partial "search_result_templates.html" . -}}
<div class="stack">
  {{- partial "horizontal_rule.html" . }}
  <div class="cluster">
    <div class="homepage:section">All Back Issues</div>
    {{- partial "top.html" . }}
  </div>
  {{ .Scratch.Set "searchButtonName" "Search Archives" }}
  {{ partial "search_box.html" . }}
  {{- partial "horizontal_rule.html" . }}
  <div id="output">
    <section class="stack">
      {{ range .Pages }}
      <div class="homepage:section box invert">
        {{ $issueTitle := .Title }}
        Issue <a href="{{ .Page.Permalink }}#content">{{ $issueTitle }}</a>
      </div>
      <section class="cluster">
        {{ $pageTitle := int .Title }}
        <div>
          {{ range where .Site.Pages "Params.issue" $pageTitle }}
          {{- partial "post_summary.html" . -}}
          {{ end }}
        </div>
      </section>
      {{ end }}
    </section>
  </div>
</div>
{{- partial "search_scripts.html" . -}}
{{ end }}
