{{ define "main" }}
<div class="stack">
  <div class="cluster">
    <div class="homepage:section">All Back Issues</div>
    {{- partial "top.html" . }}
  </div>
  <div>{{ .Content }}</div>
  <section class="stack">
    {{ range .Pages }}
    <div class="box invert"></div>
    <div class="homepage:section box invert">
      {{ $issueTitle := .Title }}
      Issue {{ $issueTitle }}
    </div>
    <section class="cluster">
      {{ $pageTitle := .Title }}
      <div>
        {{ range where .Site.Pages "Params.issue" $pageTitle }}
        {{ partial "post_summary.html" . }}
        {{ end }}
      </div>
    </section>
    {{ end }}
  </section>
</div>
{{ end }}
