{{ define "main" }}
<article class="post">
  <header>
    <h2>{{ .Title }}</h2>
    <p>
      By {{ .Params.Author }}
    </p>
    <p>
      Posted {{ .Date.Format "January 2, 2006"}}
    </p>
    <p>
      {{- with .Params.issue -}}
      <span class="issue">
        issue number:
        <a class="tag" href="/issue/{{ . | urlize }}">
          {{ . }}
        </a>
        ::
      </span>
      {{- end -}}
      {{- with .Params.category -}}
      <span class="category">
        category:
        <a class="tag" href="/categories/{{ . | urlize }}">
          {{ . }}
        </a>
        ::
      </span>
      {{ end }}
      {{- with .Params.genre -}}
      <span class="genre">
        genre:
        <a class="tag" href="/genre/{{ . | urlize }}">
          {{ . }}
        </a>
      </span>
      {{ end }}
    </p>
    <p>
      <span class="tags">
        tags:
        {{ range .Params.tags }}
        <a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </span>
    </p>
    <p>
      Reading time: about {{ math.Max 1 (math.Round (div (countwords .Content) 200.0)) }} min.
    </p>
  </header>
  <section class="body">
    {{ .Content }}
  </section>
</article>
{{ end }}
