{{ define "main" }}
<article class="stack">
  {{- partial "horizontal_rule.html" . }}
  <header>
    <div class="stack">
      <div class="homepage:title">{{ .Title }}</div>
      <div class="homepage:author">
        {{ with .Params.Author }}
        <a href="/author/{{ . | urlize }}#content">{{ . }}</a>
        {{ end }}
      </div>
      <div class="cluster homepage:meta">
        <span>/ ~{{ math.Max 1 (math.Round (div (countwords .Content) 200.0)) }} min. read /</span>
        <span>/ {{ .Date.Format "Jan 2, 2006"}} /</span>
        <!-- ISSUE -->
        {{- with .Params.issue -}}
        <span>/ <a href="/issue/{{ . | urlize }}#content">Issue {{ . }}</a> /</span>
        {{- end -}}
        <!-- CATEGORY -->
        {{- with .Params.category -}}
        <span>/ <a href="/category/{{ . | urlize }}#content">{{ . }}</a> /</span>
        {{ end }}
      </div>
    </div>
  </header>
  {{- partial "horizontal_rule.html" . }}
  <section>
    {{ .Content }}
  </section>
  <footer class="stack">
    <div class="stack">
      <div class="cluster">
        <div class="box invert">{{- partial "post_title.html" . }}</div>
        <div class="box invert">{{- partial "top.html" . }}</div>
      </div>
    </div>
    {{if or .Prev .Next}}
    {{- partial "horizontal_rule.html" . }}
    {{ end }}
    <div class="stack">
      {{if .Prev}}
      <div class="cluster">
        <nav class="homepage:read-more"><a href={{.Prev.Permalink}}#content>< previous <<<</a></nav>
        <div class="homepage:meta">{{.Prev.Title}} (by {{ .Prev.Params.author }})</div>
      </div>
      {{end}}
      {{if .Next}}
      {{- partial "horizontal_rule.html" . }}
      <div class="cluster">
        <div class="homepage:meta">{{.Next.Title}} (by {{ .Next.Params.author }})</div>
        <nav class="homepage:read-more"><a href={{.Next.Permalink}}#content>>>> next ></a></nav>
      </div>
      {{- partial "horizontal_rule.html" . }}
      {{end}}
    </div>
  </footer>
</article>
{{ end }}
